In [9]:
import numpy as np
import pandas as pd
from datetime import datetime as dt

In [33]:
file_guy = 'swipes.csv'
df = pd.read_csv(file_guy, header=1, skiprows=[2])
df.head(5)

            Swipe time
0  2017-03-01 06:00:06
1  2017-03-01 06:00:10
2  2017-03-01 06:00:13
3  2017-03-01 06:00:14
4  2017-03-01 06:00:15

In [34]:
df['Swipe time'] = pd.to_datetime(df['Swipe time'])
df.head(5)

           Swipe time
0 2017-03-01 06:00:06
1 2017-03-01 06:00:10
2 2017-03-01 06:00:13
3 2017-03-01 06:00:14
4 2017-03-01 06:00:15

In [35]:
df['Swipe time'].dtypes

dtype('<M8[ns]')

In [36]:
df['day'] = pd.DatetimeIndex(df['Swipe time']).day

In [37]:
df['hour'] = pd.DatetimeIndex(df['Swipe time']).hour

In [38]:
df['minute'] = pd.DatetimeIndex(df['Swipe time']).minute

In [44]:
df['quarter hour'] = (4*df['hour']+df['minute']/15).astype(int)

In [59]:
df = df[pd.DatetimeIndex(df['Swipe time']).dayofweek < 5]

In [62]:
np.unique(df['day'].values)

array([ 1,  2,  3,  6,  7,  8,  9, 10, 13, 14, 15, 16, 17, 20, 21, 22, 23,
       24, 27, 28, 29, 30, 31], dtype=int32)

In [64]:
df.head(10)

           Swipe time  day  hour  minute  quarter hour
0 2017-03-01 06:00:06    1     6       0            24
1 2017-03-01 06:00:10    1     6       0            24
2 2017-03-01 06:00:13    1     6       0            24
3 2017-03-01 06:00:14    1     6       0            24
4 2017-03-01 06:00:15    1     6       0            24
5 2017-03-01 06:00:17    1     6       0            24
6 2017-03-01 06:00:18    1     6       0            24
7 2017-03-01 06:00:20    1     6       0            24
8 2017-03-01 06:00:23    1     6       0            24
9 2017-03-01 06:00:26    1     6       0            24

In [65]:
# count number of arrivals per quarter hour
f = np.bincount(df['quarter hour'].values)[24:]
f

array([1180,  531,  412,  317,  328,  325,  339,  387,  392,  383,  340,
        402,  446,  393,  376,  359,  445,  453,  504,  614,  831,  647,
        773,  905,  805,  696,  695,  555,  742,  583,  547,  667,  762,
        675,  785,  744,  946, 1019, 1168, 1124, 1245, 1112, 1039, 1313,
       1745, 1704, 1456, 1448, 1477, 1266, 1439, 1521, 1527, 1235, 1312,
       1380, 1395, 1173, 1148, 1082, 1231,  954,  867,  732,  797,  566,
        572,  375,  325,  158,   53,   10])