In [9]:
import numpy as np
import pandas as pd
from datetime import datetime as dt

In [16]:
file_guy = 'swipes.csv'
df = pd.read_csv(file_guy, header=1, skiprows=[2])
df.head(5)

            Swipe time
0  2017-03-01 06:00:06
1  2017-03-01 06:00:10
2  2017-03-01 06:00:13
3  2017-03-01 06:00:14
4  2017-03-01 06:00:15

In [17]:
df['Swipe time'].dtypes

dtype('O')

In [18]:
df['Swipe time'] = pd.to_datetime(df['Swipe time'])
df.head(5)

           Swipe time
0 2017-03-01 06:00:06
1 2017-03-01 06:00:10
2 2017-03-01 06:00:13
3 2017-03-01 06:00:14
4 2017-03-01 06:00:15

In [19]:
df['Swipe time'].dtypes

dtype('<M8[ns]')

In [20]:
df['hour'] = pd.DatetimeIndex(df['Swipe time']).hour

In [21]:
df

               Swipe time  hour
0     2017-03-01 06:00:06     6
1     2017-03-01 06:00:10     6
2     2017-03-01 06:00:13     6
3     2017-03-01 06:00:14     6
4     2017-03-01 06:00:15     6
5     2017-03-01 06:00:17     6
6     2017-03-01 06:00:18     6
7     2017-03-01 06:00:20     6
8     2017-03-01 06:00:23     6
9     2017-03-01 06:00:26     6
10    2017-03-01 06:00:29     6
11    2017-03-01 06:00:31     6
12    2017-03-01 06:00:31     6
13    2017-03-01 06:00:34     6
14    2017-03-01 06:00:36     6
15    2017-03-01 06:00:37     6
16    2017-03-01 06:00:40     6
17    2017-03-01 06:00:43     6
18    2017-03-01 06:00:49     6
19    2017-03-01 06:00:59     6
20    2017-03-01 06:01:10     6
21    2017-03-01 06:01:12     6
22    2017-03-01 06:01:13     6
23    2017-03-01 06:01:16     6
24    2017-03-01 06:01:19     6
25    2017-03-01 06:01:19     6
26    2017-03-01 06:01:22     6
27    2017-03-01 06:01:22     6
28    2017-03-01 06:01:24     6
29    2017-03-01 06:01:27     6
...                   ...   ...
72043 2017-03-31 21:15:34    21
72044 2017-03-31 21:15:38    21
72045 2017-03-31 21:16:49    21
72046 2017-03-31 21:16:53    21
72047 2017-03-31 21:17:04    21
72048 2017-03-31 21:17:24    21
72049 2017-03-31 21:17:50    21
72050 2017-03-31 21:18:24    21
72051 2017-03-31 21:18:32    21
72052 2017-03-31 21:18:50    21
72053 2017-03-31 21:18:58    21
72054 2017-03-31 21:22:09    21
72055 2017-03-31 21:22:43    21
72056 2017-03-31 21:24:42    21
72057 2017-03-31 21:24:59    21
72058 2017-03-31 21:28:06    21
72059 2017-03-31 21:28:20    21
72060 2017-03-31 21:28:28    21
72061 2017-03-31 21:28:44    21
72062 2017-03-31 21:33:25    21
72063 2017-03-31 21:33:30    21
72064 2017-03-31 21:33:38    21
72065 2017-03-31 21:34:30    21
72066 2017-03-31 21:34:46    21
72067 2017-03-31 21:35:07    21
72068 2017-03-31 21:35:42    21
72069 2017-03-31 21:38:44    21
72070 2017-03-31 21:40:28    21
72071 2017-03-31 21:41:13    21
72072 2017-03-31 21:43:53    21

[72073 rows x 2 columns]